.DS_Store

application/config/*

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
kinerja/application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

## Files and Folder Development
*.sql
/DB
/public/excel
/public/file_pendukung
/public/file_tugas_tambahan
/.vscode
/public
/adminer
/assets_home/video

## Other Files
.ftpconfig
id_rsa
.ftpignore
findit
finditxx
/dashboard
/analisa_query
/advanced/*
/okstore/*
/assets_home/slider/*
/assets_home/login/*
application/config/config.php
application/config/database.php
/kinerja/application/config/database.php
.htaccess
/assets_home/x_css
/node_modules/
/CountDown/
/erekom/
/erekomx/
/dev/*
/assets_home/
/tester/*
/indeksprof/*
/CountDown/*
/skpprilaku/*
/uploads/*
/tesajax/*
/docsurat/*
/ayokerja/*
/surveyIP/*
/surveytalenta/*
/layanan-biro-kepegawaian/*
/talenta/*
/test/*
index_virus.php
index_virus2.php